/* WikkiTikkiTavi default style sheet. */
/* $Id: wiki.css,v 1.8 2002/01/15 16:02:43 smoonen Exp $ */
body
  { background-color: #cccccc;
    color:            #000000;
    margin-right:     3%;
    margin-left:      3%; }
a:link
  { color:      #990000;
    background: transparent; }
a:visited
  { color:      #336699;
    background: transparent; }
a:active
  { color:      #990000;
    background: transparent; }
a.title
  { text-decoration: none; }
img
  { border: 0; }
div.logo
  { float: right; }
table.diff
  { width: 95%; }
td.diff-added
  { background-color: #cfffcf;
    color:            #000000; }
td.diff-removed
  { background-color: #ffffaf;
    color:            #000000; }
h1
  { margin-bottom: 0; }
textarea
  { width: 100%; }
dl, ul, ol
  { margin-top:    0px;
    margin-bottom: 0px; }
form
  { margin-top: 0px; }
p.warning
  { color:      #ff3f3f;
    background: transparent; }
span.twin
  { font-size: smaller; }
tt
  { background: transparent;
    color:      #383838; }
pre
  { background: transparent;
    color:      #383838; }
